# Admin Credentials
ADMIN_USERNAME=kaislingpong
ADMIN_PASSWORD=kais100100
JWT_SECRET=your-random-secret-key

# Supabase (Optional if you are using it for other data)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
